# Practice pandas data manipulation

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

/Users/Stav/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

#### 1. Load the Mad Men cast show data into a pandas DataFrame

In [5]:
cast_data = '../assets/datasets/mad-men-cast-show-data.csv'

In [6]:
madmen = pd.read_csv(cast_data)

#### 2. Print the head and tail of the data

In [7]:
madmen.head()
madmen.tail()

,Performer,Show,Show Start,Show End,Status?,CharEnd,Years Since,#LEAD,#SUPPORT,#Shows,Score,Score/Y,lead_notes,support_notes,show_notes
243,Meghan Wolfe,True Detective,2014,PRESENT,LEFT,2014,1,0,0,0,0.00,0,NaN,NaN,NaN
244,Kevin Dunn,True Detective,2014,PRESENT,LEFT,2014,1,0,1,2,2.25,2.25,NaN,"Draft Day, 2014","Veep, Season 3-4"
245,Charles Dance,Game of Thrones,2011,PRESENT,LEFT,2015,0,0,2,1,1.50,#DIV/0!,NaN,"Woman in Gold, 2015; Child 44, 2015","Deadline Gallipoli, Season 1"
246,Patrick Dempsey,Grey's Anatomy,2005,PRESENT,LEFT,2015,0,0,0,0,0.00,#DIV/0!,NaN,NaN,NaN
247,Ian McElhinney,Game of Thrones,2011,PRESENT,LEFT,2015,0,0,0,0,0.00,#DIV/0!,NaN,NaN,NaN

#### 3. Print the columns of the data

In [8]:
madmen.columns.values

array(['Performer', 'Show', 'Show Start', 'Show End', 'Status?', 'CharEnd',
       'Years Since', '#LEAD', '#SUPPORT', '#Shows', 'Score', 'Score/Y',
       'lead_notes', 'support_notes', 'show_notes'], dtype=object)

#### 4. Rename any columns with spaces or special characters to not have them

#### 5. Subset the data where the status of the show is not "END" or "End"

#### 6. Print out the performers where the show start is greater than 2005 and the score is greater than 7.

#### 7. Select the performer and show column for the 20th thru 25th LABELED row.

#### 8. Plot a histogram of score