In [2]:
# import modules

import pandas as pd
import numpy as np

In [3]:
# create a dataframe

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = 
                  ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [4]:
# select the preTestScore column
df['preTestScore']

0     4
1    24
2    31
3     2
4     3
Name: preTestScore, dtype: int64

In [6]:
# find the standard deviation of preTestScore 
print 'std pretest:', np.std(df['preTestScore'])

std pretest: 12.221292894

In [12]:
# select rows in preTestScore with scores greater than the mean
# find the mean of preTestScore
mean_pre = np.mean(df['preTestScore'])
df[df['preTestScore'] > mean_pre]

    name  age  preTestScore  postTestScore
1  Molly   52            24             94
2   Tina   36            31             57

In [6]:
# select the rows in preTestScore with scores greater than the mean

In [14]:
# create a new column that shows the score change from 
# preTestScore to postTestScore
df['score_change'] = df['postTestScore']-df['preTestScore']

In [15]:
df

    name  age  preTestScore  postTestScore  score_change
0  Jason   42             4             25            21
1  Molly   52            24             94            70
2   Tina   36            31             57            26
3   Jake   24             2             62            60
4    Amy   73             3             70            67

In [27]:
df.iloc[[0:1]+[3:4],:]

SyntaxError: invalid syntax (<ipython-input-27-0efa7dcb4d2c>, line 1)