In [3]:
import pandas as pd
import numpy as np

In [11]:
# create a small dictionary with different data types

test_data = pd.DataFrame(dict(A = np.random.rand(3),
                        B = 1,
                        C = 'foo',
                        D = pd.Timestamp('20010102'),
                        E = pd.Series([1.0]*3).astype('float32'),
                                F = False,
                                G = pd.Series([1]*3,dtype='int8')))

test_data['D']
test_data['A']

test_data
# length of data frame will be determined by length of longest element that can be cast

          A  B    C          D    E      F  G
0  0.713238  1  foo 2001-01-02  1.0  False  1
1  0.779541  1  foo 2001-01-02  1.0  False  1
2  0.746354  1  foo 2001-01-02  1.0  False  1

In [14]:
# There is a really easy way to see what kind of dtypes 
# are in each column. 

dft.dtypes

numpy.ndarray

In [10]:
# If a pandas object contains data multiple dtypes IN A 
# SINGLE COLUMN, the dtype of the column will be chosen 
# to accommodate all of the data types (object is the 
# most general).
# these ints are coerced to floats

pd.Series([1, 2, 3, 4, 5, 6.])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: float64

In [11]:
# string data forces an ``object`` dtype

pd.Series([1, 2, 3, 6., 'foo'])

0      1
1      2
2      3
3      6
4    foo
dtype: object

In [12]:
# The method get_dtype_counts() will return the number 
# of columns of each type in a DataFrame:

dft.get_dtype_counts()

bool              1
datetime64[ns]    1
float32           1
float64           1
int64             1
int8              1
object            1
dtype: int64

In [16]:
# create a small data frame. 

df = pd.DataFrame(np.random.randn(5, 4), columns=['a', 'b', 'c', 'd'])
df

          a         b         c         d
0  1.490700  0.502382 -0.165511  0.317778
1  0.168279 -0.033619 -0.639006  0.110979
2  0.349764 -1.999245  2.610278 -0.353268
3 -0.132305  0.667341 -0.432329  0.524692
4  0.035078  2.031943 -0.718228 -0.653443

In [17]:
# Use df.apply to find the square root of all the values. 
# NaN means not a number

df.apply(np.sqrt)

          a         b         c         d
0  1.220942  0.708789       NaN  0.563718
1  0.410218       NaN       NaN  0.333135
2  0.591408       NaN  1.615636       NaN
3       NaN  0.816909       NaN  0.724356
4  0.187291  1.425463       NaN       NaN

In [21]:
# find the mean of all of the columns

df.apply(np.mean, axis=0)

a    0.382303
b    0.233760
c    0.131041
d   -0.010652
dtype: float64

In [52]:
# find the mean of all of the rows

df.apply(np.mean, axis=1)

0   -0.107741
1    0.150478
2    0.006714
3    0.467566
4   -0.253156
dtype: float64

In [55]:
# Let's create a random array with 50 numbers, ranging 
# from 0 to 7.

data = np.random.randint(0, 7, size = 50)
data

array([6, 1, 0, 6, 2, 6, 0, 4, 1, 4, 0, 2, 0, 5, 6, 6, 4, 2, 6, 0, 5, 1, 5,
       5, 1, 1, 6, 1, 5, 1, 5, 3, 1, 5, 5, 2, 3, 3, 5, 6, 4, 4, 4, 4, 2, 4,
       2, 1, 6, 5])

In [56]:
# convert the array into a series

s = pd.Series(data)

In [58]:
# How many of each number is there in the series? Enter 
# value_counts()

pd.value_counts(s)

5    10
6     9
1     9
4     8
2     6
0     5
3     3
dtype: int64