<img src="https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png" style="float: left; margin: 10px;"> 
# Plotting with Pandas
***
Week 2 | Lesson 5.1


### LEARNING OBJECTIVES
*After this lesson, you will be able to:*
- Generate bar charts
- Generate scatter plots
- Generate time series plots

### LESSON GUIDE
| TIMING  | TYPE  | TOPIC  |
|:-:|---|---|
| 5 min  | [Introduction](#introduction)   | Plotting with Pandas  |
| 20 min  | [Demo / Guided Practice](#demo)  | bar plots  |
| 20 min  | [Demo / Guided Practice](#demo)  | scatter plots  |
| 20 min  | [Demo / Guided Practice](#demo)  | time series plots  |
| 20 min  | [Independent Practice](#ind-practice)  |   |
| 5 min  | [Conclusion](#conclusion)  |   |

---

<a name="Plotting with Pandas"></a>
## Introduction: Plotting with Pandas (5 mins)

As we already learned in Week 1, there are several ways to plot: 
 - seaborn 
 - plotly 
 - matplotlib. 
 
Pandas provides a convenient way to access matplotlib's plot bindings via a method that is available on every single **DataFrame** object and **DataFrame Group** object.  When we load **seaborn**, many of its **matplotlib** equivelents are available via your dataframe object by adding a **.plot()** to call the plotting methods that are bound within Pandas plotting features.
 

DataFrame.plot(x=None, y=None, kind='line', ax=None, subplots=False, sharex=None, 
sharey=False, layout=None, figsize=None, use_index=True, title=None, grid=None, 
legend=True, style=None, logx=False, logy=False, loglog=False, xticks=None, yticks=None, 
xlim=None, ylim=None, rot=None, fontsize=None, colormap=None, table=False, yerr=None, 
xerr=None, secondary_y=False, sort_columns=False, **kwds)

[Pandas Documentation: df.plot()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html)

## Generally, Pandas .plot() method is:
    
 -  Consistent
 -  Predictable
 -  Easy to remember common parameters
    
It's recommended that you learn to use .plot() to be able to navigate plotting features quickly, but use specfic libraries like **seaborn** when a higher level of visual customization is desired.

## 5 Mins:  Have you been working with plotting outside lessons / labs?

**Additionally:**

 - What is difficult about plotting?
 - Is there anything you thought would be harder than it was with plotting?

## Let's slice our data a few ways first.

First, a more interesting dataset than random numbers.

In [1]:
import pandas as pd

sales_df = pd.read_csv("http://pbpython.com/extras/sample-salesv2.csv")
sales_df.head()

,account number,name,sku,category,quantity,unit price,ext price,date
0,296809,Carroll PLC,QN-82852,Belt,13,44.48,578.24,2014-09-27 07:13:03
1,98022,Heidenreich-Bosco,MJ-21460,Shoes,19,53.62,1018.78,2014-07-29 02:10:44
2,563905,"Kerluke, Reilly and Bechtelar",AS-93055,Shirt,12,24.16,289.92,2014-03-01 10:51:24
3,93356,Waters-Walker,AS-93055,Shirt,5,82.68,413.40,2013-11-17 20:41:11
4,659366,Waelchi-Fahey,AS-93055,Shirt,18,99.64,1793.52,2014-01-03 08:14:27

We are going to slice our customer sales data by column to only **name, ext price, date**, then display the first 20 rows.

In [2]:
# We are going to 
customers = sales_df[['name','ext price','date']]
customers.head(20)

                             name  ext price                 date
0                     Carroll PLC     578.24  2014-09-27 07:13:03
1               Heidenreich-Bosco    1018.78  2014-07-29 02:10:44
2   Kerluke, Reilly and Bechtelar     289.92  2014-03-01 10:51:24
3                   Waters-Walker     413.40  2013-11-17 20:41:11
4                   Waelchi-Fahey    1793.52  2014-01-03 08:14:27
5   Kerluke, Reilly and Bechtelar     897.94  2013-12-04 02:07:05
6                   Cole-Eichmann     275.04  2014-04-09 16:15:03
7                Hegmann and Sons     551.46  2014-06-18 19:25:10
8   Senger, Upton and Breitenberg     649.23  2014-02-10 05:55:56
9   Kerluke, Reilly and Bechtelar     323.76  2014-05-20 00:21:28
10                  Cole-Eichmann    1144.18  2014-03-10 06:23:31
11               Hegmann and Sons      78.72  2013-11-03 18:38:16
12      Kihn, McClure and Denesik     238.76  2014-01-11 21:48:28
13   Ernser, Cruickshank and Lind    1167.00  2014-09-19 13:20:00
14                    Koelpin PLC     732.96  2014-08-12 08:05:27
15                  Waters-Walker     959.94  2014-07-15 23:21:11
16  Kerluke, Reilly and Bechtelar     142.48  2014-10-05 23:38:16
17                    Koelpin PLC    1669.91  2014-01-26 01:52:36
18      Kihn, McClure and Denesik    1042.80  2013-11-13 21:38:46
19                    Carroll PLC     961.44  2014-05-24 16:03:28

customer_group = customers.groupby('name')
customer_group.size()

In [ ]:
sales_totals = customer_group.sum()
sales_totals.sort_values('ext price')

## Plotting Basic Elements

Normally, just calling your dataframe and then ".plot()" at the end, will produce a plot.  One way to control visual elements such as title, and x/y labels, is to save your plot in a variable, then call various plot specific methods set the various aspects to this.

Also, don't forget to turn plotting on in your notebook by setting `%matplotlib inline`.

In [ ]:
%matplotlib inline

my_plot = sales_totals.plot(kind='bar')

### Now to set visual elements "title" and "xlabel"

In [ ]:
my_plot = sales_totals.plot(kind='bar')
my_plot.set_xlabel("Customers")
my_plot.set_ylabel("Sales ($)")

In [ ]:
# Importing seaborn will bind it's methods to Pandas .plot()
import seaborn as sns

my_plot = sales_totals.plot(kind='bar')
my_plot.set_xlabel("Customers")
my_plot.set_ylabel("Sales ($)")

## Let's try something a bit more simple

In [ ]:
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4), columns=['a', 'b', 'c', 'd'])
df

### A basic bar plot with random data and 4 variables

In [ ]:
df.plot(kind='bar')

### Now stacked bars

In [ ]:
df.plot(kind='bar', stacked=True)

### Stacked Bar, Horizontally

In [ ]:
df.plot(kind='barh', stacked=True)

## Help me set the title and 1 label!

More refernece here:  [Pandas Docs: bar plots](http://pandas.pydata.org/pandas-docs/version/0.15.0/visualization.html)

# df.plot( kind = "????" )

With **DataFrames** or **DataFrame groups**, you can set the type with the "kind" parameter.  Check the docs for a full list.  

For scatter it's simply **kind="scatter"**.

Some plot "kinds" have specific requirements.  For instance, a scatter plot requires X and Y axis data in order to work correctly.  If you have more than 2 numeric series items in your dataframe, you need to decide which 2 to plot.

In [ ]:
df = pd.DataFrame(np.random.randn(550, 4), columns=['a', 'b', 'c', 'd'])
df.plot(kind='scatter', x='a', y='b')

_If you recall: In the case of an sns.pairplot, each numeric variable is plotted against each other for x / y display._

In [ ]:
sns.pairplot(df)

To plot multiple column groups in a single axes, repeat plot method specifying target 
'ax'. It is recommended to specify color and label keywords to distinguish each groups.

In [ ]:
ax = df.plot(kind='scatter', x='a', y='b', color='Red', label='Group 1')

Using an "ax", we can add multiple plots in the same space

In [ ]:
# This should work but it doesn't appear to work at the moment -- pardon the issue will need to revisit this example
# in the near future..
df.plot(kind='scatter', x='a', y='c', color='Green', label='Group 1', ax=ax)

[Pandas: scatter plots](http://pandas.pydata.org/pandas-docs/version/0.15.0/visualization.html)

## Demo/Guided Practice: time series plots (20 mins)

This is a very gentle introduction to timeseries.  The main thing we want to do when we plot this type of data, is deal with an index that is a datetime type, rather than an INT or an object so we can apply resampling.

Resampling the date allows us to easily slice our data based on unit of time such as:
 - Week number
 - Week day
 - Month day
 - year
 - Month number
 - etc

The problem we usually encounter, is that we recieve date data as "object" once it makes its way to a dataframe.  The process for dealing with this is:

 - Convert date string to **datetime dtype**
 - Set the dataframe index as the converted **datetime dtype**

In [ ]:
from datetime import datetime

In [ ]:
data = {'date': ['2014-05-01 18:47:05.069722', '2014-05-01 18:47:05.119994', 
'2014-05-02 18:47:05.178768', '2014-05-02 18:47:05.230071', 
'2014-05-02 18:47:05.230071', '2014-05-02 18:47:05.280592', 
'2014-05-03 18:47:05.332662', '2014-05-03 18:47:05.385109', 
'2014-05-04 18:47:05.436523', '2014-05-04 18:47:05.486877'], 
        'battle_deaths': [34, 25, 26, 15, 15, 14, 26, 25, 62, 41]}
df = pd.DataFrame(data, columns = ['date', 'battle_deaths'])
df

In [ ]:
# Looks like the date column is an "object" - remember what this is?
df.info()

In [ ]:
df['date'] = pd.to_datetime(df['date'])

In [ ]:
df.info()

### Set df['date'] as the index and delete the column

In [ ]:
df.index = df['date']
del df['date']
df

### Find the total value of battle_deaths per day

**NOW with our new datetime index, we can apple the resample function to give us grouping by "days" (ie: "D").**

In [ ]:
df.resample('D').sum()

### Almost every Pandas object can use .plot()

Let's view the battle deaths per day now.

In [ ]:
df.resample('D').sum().plot()

<a name="ind-practice"></a>
## Independent Practice: Topic (20 minutes)

Using the sales.csv data, do the following
- Create a stacked bar plot of Rep and Price
- Create a stacked bar plot of Rep and Quantity

<a name="conclusion"></a>
## Conclusion (10 mins)

As we saw in the introduction, df.plot can take a lot of parameters. Try adding some
of them to the plots you created during independent practice.